Source: ros-foxy-rqt-gui-cpp
Section: misc
Priority: optional
Maintainer: Michael Jeronimo <michael.jeronimo@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), qtbase5-dev, ros-foxy-ament-cmake, ros-foxy-qt-gui (>= 0.3.0), ros-foxy-qt-gui-cpp (>= 0.3.0), ros-foxy-rclcpp, ros-foxy-ros-workspace
Homepage: http://ros.org/wiki/rqt_gui_cpp
Standards-Version: 3.9.2

Package: ros-foxy-rqt-gui-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-qt-gui (>= 0.3.0), ros-foxy-qt-gui-cpp (>= 0.3.0), ros-foxy-rclcpp, ros-foxy-ros-workspace
Description: rqt_gui_cpp enables GUI plugins to use the C++ client library for ROS.
